In [1]:
import pandas as pd
from scipy.stats import pearsonr
from scipy.stats import wilcoxon
from scipy.stats import friedmanchisquare
from scipy.stats import mannwhitneyu
from scipy.stats import kruskal
from scipy.stats import ttest_1samp
from scipy.stats import ttest_rel
from scipy.stats import ttest_ind
import os

In [2]:
os.getcwd()

'C:\\Users\\Joginder Bairwa\\Jupyter\\Lets Upgrade'

In [3]:
dataset=pd.read_csv("general_data.csv")

In [4]:
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [5]:
dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [17]:
d1 = dataset.Age
d2 = dataset.DistanceFromHome
d3 = dataset.MonthlyIncome

In [20]:
stat, p=wilcoxon(a1,a2)
print(stat, p)

In [22]:
stat,p=friedmanchisquare(d1,d2,d3)
print(stat,p)

In [24]:
stat,p=mannwhitneyu(d1,d2)

print(stat,p)

255456.0 0.0

In [25]:
stat,p=kruskal(d1,d2,d3)

print(stat,p)

11610.427672707056 0.0

In [26]:

stat,p=ttest_1samp(d1,d2)

print(stat,p)

0       224.845656
1       195.761832
2       144.865141
3       253.929479
4       195.761832
           ...
4405    232.116612
4406    253.929479
4407     86.697493
4408    137.594185
4409     64.884626
Name: DistanceFromHome, Length: 4410, dtype: float64 [0. 0. 0. ... 0. 0. 0.]

In [27]:
stat,p=ttest_rel(d1,d3)

print(stat,p)

-91.69467397680863 0.0